* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

.body {
    min-height: 100vh;
    min-width: 100vh;
}

.header {
    background-color: #1f2936;
    min-width:100vh;
    height: 60vh;
    color:#f9faf8;
    display: flex;
    justify-content: center;
}

.header .container {
    flex-basis: 80%;
    max-height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.header .north, .header .north ul{
    display: flex;
    list-style-type: none;
    gap:32px;
}

.north , .south{
    flex-basis:100%;
    display: flex;
    justify-content: space-between;
}

.hsouthtext {
    flex-basis:40%;
    display: flex;
    flex-direction: column;
}

.placeholder {
    flex-basis: 40%;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
}

.sectext {
    font-size: 18px;
    color:e5e7eb;
}